XRAY_FRONTEND_PORT=9444
XRAY_FRONTEND_SERVER_NAME=mitigator.ru
XRAY_FRONTEND_TARGET=mitigator.ru:443
XRAY_FRONTEND_FINGERPRINT=firefox
XRAY_FRONTEND_SHORT_IDS=sid-a,sid-b
XRAY_FRONTEND_REALITY_PRIVATE_KEY=replace-me
XRAY_FRONTEND_REALITY_PUBLIC_KEY=replace-me
XRAY_RELAY_HOST=72.56.109.197
XRAY_RELAY_PORT=9443
XRAY_RELAY_UUID=replace-me
