{
  "log": {
    "access": "${XRAY_FRONTEND_ACCESS_LOG_PATH}",
    "error": "${XRAY_FRONTEND_ERROR_LOG_PATH}",
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": ${XRAY_FRONTEND_PORT},
      "protocol": "vless",
      "settings": {
        "clients": [],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "xver": 0,
          "target": "${XRAY_FRONTEND_TARGET}",
          "serverNames": ["${XRAY_FRONTEND_SERVER_NAME}"],
          "privateKey": "${XRAY_FRONTEND_REALITY_PRIVATE_KEY}",
          "shortIds": [${XRAY_FRONTEND_SHORT_IDS_JSON}],
          "settings": {
            "fingerprint": "${XRAY_FRONTEND_FINGERPRINT}",
            "spiderX": "${XRAY_FRONTEND_SPIDER_X}"
          }
        },
        "tcpSettings": {
          "header": {
            "type": "none"
          }
        }
      },
      "tag": "frontend-in"
    }
  ],
  "outbounds": [
    {
      "tag": "to-relay",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "${XRAY_RELAY_HOST}",
            "port": ${XRAY_RELAY_PORT},
            "users": [
              {
                "id": "${XRAY_RELAY_UUID}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "none",
        "tcpSettings": {
          "header": {
            "type": "none"
          }
        }
      }
    },
    {
      "tag": "direct",
      "protocol": "freedom"
    },
    {
      "tag": "blocked",
      "protocol": "blackhole"
    }
  ],
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [
      {
        "type": "field",
        "inboundTag": ["frontend-in"],
        "outboundTag": "to-relay"
      }
    ]
  }
}
