config setup
  uniqueids=no

conn xray-interconnect
  type=tunnel
  authby=psk
  keyexchange=ikev2
  ike={{ ipsec_ike_proposal }}
  esp={{ ipsec_esp_proposal }}
  auto={{ ipsec_auto }}
  left={{ ipsec_local_public_ip }}
  leftid={{ ipsec_local_id }}
  right={{ ipsec_remote_public_ip }}
  rightid={{ ipsec_remote_id }}
  leftsubnet=0.0.0.0/0
  rightsubnet=0.0.0.0/0
  mark={{ ipsec_mark }}
  installpolicy=yes
  dpdaction=restart
  dpddelay=30s
  rekey=no

# Note: route-based XFRM/VTI interface creation and policy-routing setup are part of
# ipsec_transport v2 implementation and are not fully expressed by ipsec.conf alone.
