config setup
  uniqueids=no

conn xray-interconnect
  type=tunnel
  authby=psk
  keyexchange=ikev2
  ike={{ ipsec_ike_proposal }}
  esp={{ ipsec_esp_proposal }}
  auto={{ ipsec_auto }}
  left={{ ipsec_local_public_ip }}
  leftid={{ ipsec_local_id }}
  right={{ ipsec_remote_public_ip }}
  rightid={{ ipsec_remote_id }}
  leftsubnet=0.0.0.0/0
  rightsubnet=0.0.0.0/0
  installpolicy={{ 'yes' if ipsec_install_policy | bool else 'no' }}
  leftupdown=/bin/true
  if_id_in={{ ipsec_interface_id }}
  if_id_out={{ ipsec_interface_id }}
  dpdaction=restart
  dpddelay=30s
  closeaction=restart
  ikelifetime=60m
  lifetime=20m
  rekey=no

# Route-based XFRM interface creation and policy routing are managed by
# ipsec-xfrm.service + /usr/local/sbin/ipsec-xfrm.sh.
